<!-- <div>
  <h2>Style Directive</h2>
  <div [style.color] = "mycolor">{{marks}}</div>
</div> -->

<!-- <div>
  <h2>NG class example usage</h2>
  <div [ngClass] = "myclass">{{marks}}</div>
</div> -->
<!-- 
<div>
  <h2>ngIf example usage</h2>
  <div *ngIf = "score" style="background-color: green; display: block;">
  Congratulations...
  </div>
  <div *ngIf = "!score" style="background-color: red;">
    Successfully Failed
  </div>
</div> -->



<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table>
<thead>
  <th>Emp Id</th>
  <th>Name</th>
  <th>Age</th>
</thead>
<tbody>
  <tr *ngFor = "let student of students">
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
    <td>{{student.age}}</td>
  </tr>
</tbody>

  </table>
 
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <input type="number" [(ngModel)] = "newId" placeholder="ID"><br> -->
  <!-- <input type="text"  [(ngModel)] = "newName" placeholder="Name"><br>
  <input type="number"[(ngModel)] = "newAge" placeholder="Age"><br>
  <button (click) = "addStudent()">Add</button>
  <hr> -->
  <!-- <div>
    <h2>It was Showing</h2>
    <div *ngFor = "let student of students">{{student.id}} - {{student.name}} - {{student.age}}</div>
  </div>

  <form #formsDemo = "ngForm">
    <input type = "text" name = "name" [(ngModel)] = "name">
    <p>Value : {{formsDemo.invalid}}</p>
    {{name}}
  </form> -->
<!-- <p>  {{quotes | json}} -->
<!-- </p> -->
<!-- <ul>
  <li *ngFor = "let q of quotes">
    Id: {{q.id}}
    Author: {{q.author}}
  </li>
</ul> -->

<app-api-component></app-api-component>



</body>
</html>
